@{
    ViewData["Title"] = "Home Page";
}

<h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
</h1>

<!-- BlogPartialView -->
<div id="blogPartialView">
</div>

<!-- Pagination -->
<ul id="pagination" class="pagination justify-content-center mb-4">
</ul>

@section Scripts{
    <script>
        gotoPage(1)

        function gotoPage(page) {
            if (page == null || page < 1)
                return;
            $.ajax({
                url: '@Url.Action("GetBlogPosts", "Home")',
                data: { page: page },
            success: function (result) {
                $("#blogPartialView").html(result)
            }
        })
        }
    </script>
}
